.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: auto; */
    height: 320px;
    width: 250px;
    padding: 25px;
    margin: 25px;
}

#qrcode {
    border: 1px solid black;
    height: 250px;
}

.button{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 25px;
    
}

.qrcode1{
    width: 100px;
    height: 100px;
    padding: 10px;
}